@import './reset.css';

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  font-size: 16px;
  font-family: Helvetica, Arial, sans-serif;
  line-height: 1.2;
  margin: 0 auto;
  padding: 0;
  color: #FFF;
}

html, body, .container {
  height: 100%;
  width: 100%;
}

.container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  position: relative;
}

.content {
  max-width: 700px;
  padding: 0 3rem;
  margin: 0 auto;
}

h2 {
  font-size: 4rem;
  font-weight: bold;
  letter-spacing: -.15rem;
}

a#author-link {
  color: inherit;
  position: absolute;
  left: 30px;
  bottom: 30px;
  font-size: 1rem;
  text-decoration: none;
}

a#author-link #author-name {
  font-weight: bold;
}

a#author-link:hover, a#author-link:focus {
  text-decoration: underline;
}

img#bg-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  z-index: -1;
}

.fade-in {
	opacity: 1;
	animation-name: fadeInOpacity;
	animation-iteration-count: 1;
  animation-timing-function: ease-in;
	animation-duration: 3s;
}

@keyframes fadeInOpacity {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}